
.card-ema{
  width: 12rem;
  height: 19rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  color: white;
  align-content: center;
  h3{
    text-align: center;
  }
  a{
    color: white;
    &:hover{
      color: white;
    }
  }
  &:hover{
    transform: translateX(-0.5rem);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
  }
}

.card-ema-img{
  width: 12rem;
  height: 19rem;
  object-fit: cover;
  position: absolute;
  border-radius: 1rem;
  z-index: -1;
  box-shadow: 10px -5px 23px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px -5px 23px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px -5px 23px 0px rgba(0,0,0,0.75);
}


.card-cocktail{
  width: 10rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1.5rem;
  align-content: center;
  background-color: black;
  background-image: url('shot.jpg');
  background-size: cover;
  background-position: -30px 0px;
  opacity: 0.8;
  p{
    font-size: 25px;
  }

}

.card-show{
  width: 20rem;
  height: 25rem;
}

@media (min-width: 100px) and (max-width: 568px ) {
  .card-cocktail{
    width: 7rem;
    height: 9rem;
    background-position: -20px 0px;
    h2{
      font-size: 20px;
    }
    p{
      font-size: 15px;
    }
  }

  .card-ema{
    width: 4rem;
    height: 6.5rem;
  }

  .card-ema-img{
    width: 4rem;
    height: 6.5rem;
  }

  h3{
    font-size: 20px;
  }
}



@media (min-width: 568px) and (max-width: 1024px) {
  .card-cocktail{
    width: 10rem;
    height: 15rem;
    background-position: -30px 0px;
    h2{
      font-size: 20px;
    }
    p{
      font-size: 15px;
    }
  }

  .card-ema{
    width: 8rem;
    height: 11rem;
  }

  .card-ema-img{
    width: 8rem;
    height: 11rem;
  }

  h3{
    font-size: 25px;
  }
}
