.btn-ghost {
  width: 200px;
  color: white;
  border: 2px solid white;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
  color: #526981;
  border: 2px solid #526981;
  background-color: white;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.btn-icon{
  width: 40px;
  height: 40px;
  color: white;
  border: 2px solid white;
  padding-top: auto;
  border-radius: 100%;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  position: relative;
  top: -40px;
  left: 100px;
  em{
    position: relative;
    top: 2px;
    right: 1px;
  }
}

.btn-icon:hover {
  opacity: 1;
  color: #526981;
  border: 2px solid #526981;
  background-color: white;
}


@media (min-width: 100px) and (max-width: 568px ) {
    .btn-icon{
      position: relative;
      top: -10px;
      left: 50px;
      width: 20px;
      height: 20px;
      border: none;
      em{
        position: relative;
        right: 5px;
        top: -5px;
      }
    }
}

@media (min-width: 750px) and (max-width: 1024px ){
  .btn-icon{
    top: -50px;
    left: 105px;
    em{
      position: relative;
      top: 2px;
    }
    }
}
